<html>
    <head>
        <meta charset="UTF-8">
        <style>
            table {width: 50%; border-collapse: collapse;}
            table, th, tr , td{border: 1px solid black;}
            th, td {text-align: center;}
        </style>
    </head>
    <body>
        <h1>Witaj [user.name],</h1>
        <p>Poniżej przesyłamy rozliczenie za miesiąc: <b>[month.name]/[month.year]</b>.</p>
        <h3>Media</h3>
        <table>
            <tr>
                <th>Media</th>
                <th>Stan licznika</th>
                <th>Różnica</th>
                <th>Stawka (zł/jednostkę)</th>
                <th>Do zapłaty (zł)</th>
            </tr>
            <tr>
                <td>Prąd</td>
                <td>[bill.energy.value]</td>
                <td>[bill.energy.usage]</td>
                <td>[prices.energy]</td>
                <td>[bill.energy.cost]</td>
            </tr>
            <tr>
                <td>Ciepła woda</td>
                <td>[bill.hot_water.value]</td>
                <td>[bill.hot_water.usage]</td>
                <td>[prices.hot_water]</td>
                <td>[bill.hot_water.cost]</td>
            </tr>
            <tr>
                <td>Zimna woda</td>
                <td>[bill.cold_water.value]</td>
                <td>[bill.cold_water.usage]</td>
                <td>[prices.cold_water]</td>
                <td>[bill.cold_water.cost]</td>
            </tr>
            <tr>
                <td>Gaz</td>
                <td>[bill.gas.value]</td>
                <td>[bill.gas.usage]</td>
                <td>[prices.energy]</td>
                <td>[bill.gas.cost]</td>
            </tr>
        </table>
        </br>
        <hr>
        </br>
        <h3>Ogrzewanie</h3>
        <p>Stawka za ogrzewanie: <b>[prices.heating]</b> zł </p>
        <table style='width:50%'>
            <tr>
                <th>Pokój</th>
                <th>Przed resetem</th>
                <th>Stan licznika</th>
                <th>Zużycie</th>
                <th>Kwota (zł)</th>
            </tr>
            <tr>
                <td>Pokój 1</td>
                <td>[heating.room1.reset]</td>
                <td>[heating.room1.value]</td>
                <td>[heating.room1.usage]</td>
                <td>[heating.room1.cost]</td>
            </tr>
            <tr>
                <td>Pokój 2</td>
                <td>[heating.room2.reset]</td>
                <td>[heating.room2.value]</td>
                <td>[heating.room2.usage]</td>
                <td>[heating.room2.cost]</td>
            </tr>
            <tr>
                <td>Pokój 3</td>
                <td>[heating.room3.reset]</td>
                <td>[heating.room3.value]</td>
                <td>[heating.room3.usage]</td>
                <td>[heating.room3.cost]</td>
            </tr>
            <tr>
                <td>Kuchnia</td>
                <td>[heating.kitchen.reset]</td>
                <td>[heating.kitchen.value]</td>
                <td>[heating.kitchen.usage]</td>
                <td>[heating.kitchen.cost]</td>
            </tr>
        </table>
        </br>
        <hr>
        </br>
        <h3>Dodatkowe informacje:</h3>
        <p>  [month.comment]</p>
        </br>
        <hr>
        </br>
        <p><b>Razem za media: </b>[month.total_bill] zł</p>
        <p><b>Razem za ogrzewanie: </b>[month.total_heat] zł</p>
        <p><b>Kwota czynszu: </b>[prices.rent] zł</p>
        <p><b>Razem do zapłaty: </b>[month.total_rent] zł</p>
        [roomatesection]
        </br>
        <p>Pozdrawiam,</p>
        <p>Jędrzej</p>
    </body>
</html>